@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.pic{
    border-radius: 0.5em;
    width: 300px;
    
    
}
.div{
    font-family: 'Open Sans';
    text-align: center;
    margin-top: 25px;
    background-color: #DEDE9A;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 1em;
    
}
button{
    margin-top: 5%;
}
.btn{
    margin-top: 1px;
    
}
